<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Flask Test App</h1>
        <form id="payForm" action="/" method="POST">
            <input name="amount" id="amount" type="number" min="1.00" step="0.01" placeholder="Amount" required>
            <select name="currency" id="currency">
                <option value="978">EUR</option>
                <option value="840">USD</option>
                <option value="643">RUB</option>
            </select>
            <textarea name="description" id="description" cols="30" rows="3" placeholder="Description"></textarea>
            <input name="shop_id" type="hidden" value="5">
            <input name="shop_order_id" type="hidden" value="101">
            <input name="sign" type="hidden" id="sign">
            <input id="submitBtn" type="submit" value="Submit">
        </form>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>