*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}

.container{
    background: #f1f1f1;
    padding: 20px;
    width: 320px;
    margin: 30px auto;
    border-radius: 10px;
}

#payForm{
    font-size: 0;
}

textarea, select, input{
    font-size: 15px;
    font-family: Arial;
    height: 40px;
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
    vertical-align: top;
    border-radius: 10px;
    border: 1px solid rgb(165, 165, 165);
    outline: none;
}

textarea:focus, select:focus, input:focus{
    box-shadow: 0 0 2px 1px rgb(63, 63, 63);
}

#amount{
    width: calc(70% - 10px);
    margin-right: 10px;
}

#currency{
    width: 30%;
    background: #fff;
    cursor: pointer;
}

#submitBtn{
    display: block;
    margin: 0 auto;
    background: #efacdd;
    color: #000;
    cursor: pointer;
}

#description{
    width: 100%;
    height: 80px;
    resize: none;
}